html{
    font-family: 'Montserrat', sans-serif;
}
body{
    margin:0;
    background-color: #efefef ;
    
}

header{
    background-color: darkslategray;
    color:white;
    padding: 40px 20px;
    text-align: center;


}

header h1{
    font-size: 30px;
    text-align: center;
}

.container{
    width:400px;
    margin:0 auto;
}

section article{
    background-color:#fff ;
    padding: 0.5rem 0rem;
    margin:1rem 0;
    border-radius: 5px;
    
}

section article h2, section article p{
    margin :100px;
}

sel